<h1 mat-dialog-title>Add a new photo </h1>
<div mat-dialog-content>
  <p>Label</p>
  <input class="input-add" matInput placeholder="Suspendisse elit massa" [(ngModel)]="data.label">
  <p>URL</p>
  <input class="input-add" matInput placeholder="http://images.unsplash.com" [(ngModel)]="data.url">
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button id="cancel" class="dialog-button" (click)="onNoClick()">Cancel</button>
  <button mat-button class="dialog-button" (click)="save()" cdkFocusInitial>Submit</button>
</div>

