<header>
    <div class="logo-container">
        <img class="logo-img" src="/assets/images/unsplash.png" alt="logo" />
        <div class="logo">
            <div class="title" ><strong>My unsplash</strong></div>
            <div class="sub-title">devchallenges.io</div>
        </div>
    </div>

    <div class="search-bar">
        <div class="search">
            <span class="glyphicon glyphicon-search"></span>
            <input class="search-input" type="text"  placeholder="Search by name" [(ngModel)]="searchInput" />
        </div>
        
    </div>

    <div class="add">
        <button class="add-button" (click)="openDialog()">Add a photo</button>
    </div>
</header>
